<div class="card my-5">

  <div class="card-body">
 	
	<h4>Buy {{ currentExchangeRates?.subjectCurrency.code }} {{ currentExchangeRates?.subjectCurrency.description }}</h4>
	
	<table class="table table-bordered table-striped">
      <tbody>
        <tr *ngFor="let exchangeRate of currentExchangeRates?.currentExchangeRates">
          <td>{{ exchangeRate.comparisonCurrency.code }}</td>
          <td>{{ exchangeRate.comparisonCurrency.description }}</td>   
          <td>{{ exchangeRate.rate }}</td>
        </tr>
      </tbody>
    </table>
	
  </div>
  
</div>