<form [formGroup]="menuForm" (ngSubmit)="onSubmit()">

  <ul class="wrapper">
  
    <li class="form-row">
	  <label>
	    Subject currency:
		<select formControlName="subjectCurrency" id="subjectCurrency" [compareWith]="compareCurrency">
	      <option [ngValue]="currency" *ngFor="let currency of allCurrencies" [attr.selected]>{{currency.code}}</option>
        </select>
      </label>
	</li>
	
	<li class="form-row">
	  <div formArrayName="comparisonCurrencies">
	    <div *ngIf="comparisonCurrencies.errors?.required" class="help-block" style="color: red">A comparison currency is required.</div>
		<div *ngIf="comparisonCurrencies.errors?.duplicate" class="help-block" style="color: red">Duplicate comparison currencies are not allowed.</div>
        <div *ngFor="let comparisonCurrency of menuForm.get('comparisonCurrencies').controls; let i=index">
          <label>
		    <div *ngIf="comparisonCurrency.value.id !== undefined">
              Comparison currency:
			  <!--<select [formControlName]="i" [compareWith]="compareCurrency">
	            <option [ngValue]="currency" *ngFor="let currency of candidateComparisonCurrencies" [attr.selected] disabled>{{currency.code}}</option>
              </select>-->
              {{comparisonCurrency.value.code}}
			  <button type="button" (click)="deleteComparisonCurrency(i)">&#x274E;</button>
			</div>
			<div *ngIf="comparisonCurrency.value.id === undefined">
              Comparison currency:
			  <select [formControlName]="i" [compareWith]="compareCurrency">
	            <option [ngValue]="currency" *ngFor="let currency of candidateComparisonCurrencies" [attr.selected]>{{currency.code}}</option>
              </select>
			</div>
	      </label>
        </div>
      </div>
	</li>
	
	<!--<li class="form-row">
	  <button class="btn btn-info" type="submit" [disabled]="!menuForm.valid">Go</button>
    </li>-->
	
  </ul>

</form>